:root {
  --dark_blue: #303247;
  --peach: #fdcb98;
  --forest_green: #324c30;
  --secondary_green: #444d32;
  --brown: #663200;
}
* {
  font-family: 'Roboto Mono', monospace;
}
.App {
  text-align: center;
}

.App-header {
  top: 80px;
  right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: var(--dark_blue);
}

.Top-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-background {
  background-color: var(--dark_blue);
}
.signOutDiv {
  background-color: var(--dark_blue);
  flex-direction: row-reverse;
}
.buttonDiv {
  background-color: var(--dark_blue);
  padding-left: 30px;
  padding-top: 30px;
  align-items: flex-end;
  justify-content: end;
}

.App-component {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50px;
  height: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: 'block';
  flex-direction: row-reverse;
  align-items: 'center';
  justify-content: 'center';
  background-color: var(--dark_blue);
}

.Text-background {
  color: white;
}

.container {
  min-height: 100vh;
  padding: 0 0.5em;
  display: block;
  flex-direction: column;
  align-items: center;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

.upload-section {
  flex: 20%;
}

.extracted-text-section {
  background-color: var(--dark_blue);
  flex: 10;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.instructions {
  width: 800px;
  text-align: center;
  margin: 10px;
}
.signOutButton {
  box-sizing: border-box;
  background-color: var(--peach);
  border: 2px solid var(--brown);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
  color: var(--brown);
  overflow: hidden;
  transition: color 250ms ease-in-out;
  padding: 7px;
  width: 150px;
  float: right;
  margin: 10px;
}
.card {
  width: 250px;
  flex-direction: row;
  align-items: center;
  background: var(--peach);
  border: 2px solid var(--brown);
}
.card-title {
  font-weight: bold;
  color: var(--brown);
}
.card img {
  width: 100px;
  border-radius: 50%;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 10%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 10%;
  }
}
