.Login {
  text-align: center;
}

.Login-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Login-background {
  background-color: #282c34;
}
